
 
 .aa{
  width: 400px;
  height: 300px;
  background-color: blue;
  margin-left: 300px;
margin-top: 300px;
padding-top: 30px;
text-align:center;
 }
 p{
  color: #FFF;
  margin-top: 100px;
 }